<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 설정된 캐쉬를 전역으로 사용할지 여부 -->
		<setting name="cacheEnabled" value="false"/>
		<!-- JDBC드라이버 강제 생성 여부 -->
		<setting name="useGeneratedKeys" value="false"/>
	</settings>
</configuration>
